body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}

#Calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #ccc;
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 5px;
    font-size: 20px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#buttons input {
    width: 100%;
    height: 50px;
    font-size: 20px;
}
